table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .example-header-image {
    background-image: url('https://media.glassdoor.com/sqll/1195243/nineleaps-technology-solutions-squarelogo-1567505234547.png');
    background-size: cover;
  }

  .mat-row:hover {
    background-color: grey;
  }
  ::ng-deep .warning{
    background: rgb(124, 124, 240);
    
 }

 ::ng-deep .success{
  background: rgb(112, 230, 101);
  
}